@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles that extend Tailwind */
@layer base {
  :root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.2;
  }
  body {
    margin: 0;
  }
}