---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout>
  <title slot="title">Robert Sparks</title>
  
  <div class="container mx-auto px-4 py-4">
    <Header />
    <main class="mt-8">
      <div class="max-w-3xl">
        <h1 class="text-3xl font-bold mb-6">About</h1>
        
        <p class="text-base mb-5">
          Hello! I'm a data scientist with a master's degree in Engineering Mathematics from the University of Bristol. I'm passionate about approaching problems mathematically and presenting results beautifully. 
	  At Gousto, I've applied my skills in a talented team to solve novel combinatorial optimization problems that improved supply chain efficiency. You can contact me via email, sjbsy9h6l [at] @mozmail.com.
        </p>
        
        <p class="text-base mb-6">
          When I'm not coding, you'll find me cycling through the countryside, hunting for geocaches - occasionally I enjoy a swim. 
        </p>
      </div>
    </main>
  </div>
</Layout>
