<header class="h-header">
  <div class="w-full h-full border-b-2 border-accent mb-4 relative overflow-visible">
    <div class="flex items-center h-full justify-between">
      <div class="">
      <nav>
        <ul>
          <li><a href="/" class="font-bold dark-text no-underline">Robert Sparks</a></li>
        </ul>
        <ul class="flex gap-4 text-sm">
          <li><a href="/" class="font-bold dark-text no-underline">about</a></li>
          <li><a href="/blog" class="font-bold dark-text no-underline">blog</a></li>
          <li><a href="/projects" class="font-bold dark-text no-underline">projects</a></li>
        </ul>
      </nav>
      </div>
      <div class="h-[60px] w-[60px] absolute top-1/2 right-0 -translate-y-1/2">
        <img id="attractorImage" src="/logo.png" alt="Attractor" class="w-[60px] h-[60px] dark:invert pixelated">
      </div>
    </div>
  </div>
</header>
